@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

  line-height: 1.5rem;
}
.title-container {
  text-align: center;
  color: hsl(234, 12%, 34%);
  padding: 100px 200px;
}
.title-thin {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
}
.title-bold {
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Remove commas */
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px 20px; /* More vertical gap for stacked cards */
  padding: 0 100px;
  align-items: center;
  min-height: 500px;
}

.card {
  padding: 24px;
  padding-bottom: 60px;
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
  min-height: 180px;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 4px solid transparent;
}
.card h2 {
  color: hsl(234, 12%, 34%);
  margin-bottom: 1rem;
}
.card p {
  color: hsl(212, 6%, 44%);
  margin-bottom: 50px;
}
.card-img {
  display: flex;
  justify-content: flex-end;
}
.card-1 {
  border-top-color: #1de9b6;
  grid-column: 1 / 2;
}

.middle-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-column: 2 / 3;
  height: 100%;
}
.card-2 {
  border-top-color: #ff5252;
}

.card-3 {
  border-top-color: #ffa000;
}

.card-4 {
  border-top-color: #40c4ff;
  grid-column: 3 / 4;
}
@media (max-width: 768px) {
  .grid-container {
    display: block;
    padding: 0 20px;
    min-width: 150px;
    margin-bottom: 100px;
  }
  .title-container {
    padding: 50px 20px;
  }
}
